{% extends 'base.html.twig' %}

{% block body %}
    <div style="max-width:800px;margin: 20px auto 20px auto;text-align:center;padding: 0 50px 0 50px;background: white;">
        <h3>EDIT THE PIZZA</h3>
        {{ form_start(edit_form) }}
        {{ form_end(edit_form) }}
        <div style="margin: 20px; ">
            <div style="margin: auto; display: inline-block;padding: 20px">
                <ul id="sortable" style="text-align: left ;list-style: none">
                    {% for pizzaIngredient in pizza.pizzaIngredients %}
                        <li id="{{ pizzaIngredient.id }}" draggable="true" class="ui-state-default"
                            rel="{{ pizzaIngredient.id }} "
                            style="margin: 10px;background-color: #6897BB;font-weight:500;color:white;padding: 5px">
                            <a href="{{ path('pizza_ingredient_delete', { 'id': pizzaIngredient.id }) }}"><img
                                        style="max-width: 20px;" alt="delete" src="{{ '/public/img/deleteicon.svg' }}"></a>

                            {{ pizzaIngredient.ingredient.name }}
                           {# {{ pizzaIngredient.ingredientOrder }}#}
                        </li>
                        </tr>{% endfor %}
                </ul>
            </div>
            <div id="parentDiv" style="display: inline-block; vertical-align: top;padding: 20px">
                {{ form_start(addNewIngredientForm,{'action': path('pizza_ingredient_add'), 'method': 'POST'}) }}
                <div class="flex" style=" display: flex; flex-direction: row;">
                    <div class="col">  {{ form_row(addNewIngredientForm.IngredientId) }} </div>
                    <div style="padding: 0 10px ">  {{ form_row(addNewIngredientForm.Add) }}  </div>
                </div>
                <div class="col">  {{ form_row(addNewIngredientForm.pizzaId) }} </div>
                {{ form_end(addNewIngredientForm) }}
            </div>
        </div>
        <a href="{{ path('pizza_list') }}">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin: 10px 0;">Return to the list
            </button>
        </a>
    </div>
    <script>
        $('#sortable').sortable(
            {
                stop: function (event, ui) {
                    let position = ui.item.index();
                    let link = '/public/update-ingredient-position';
                    let element_id = ui.item.attr('id');
                    //let pizzaId = $('app_pizza_id').val();
                    $.ajax({
                               type: "POST",
                               url: link,
                               data: {
                                   'position': position,
                                   'pizzaIngredientId': element_id
                               },
                               success: function (result) {
                                   console.log(result);
                               },
                               error: function (error) {
                               }
                           });
                }
            });
    </script>
{% endblock %}
