{% extends 'base.html.twig' %}

{% block body %}
    <div style="max-width: 800px;margin: 40px auto 40px auto;text-align:center;background: white;">
        <div>
            <h1 style="display: inline-block">Pizzas List</h1>
        </div>
        <div>
        <table class="table table-hover text-center" style="margin: auto">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for pizza in pizzas %}
                <tr>
                    <td class="align-middle">
                        <div style="border: 1px solid gray; min-width: 50px ;border-radius: 50%;background-color: cornflowerblue ;color: white;font-weight: bold">
                            {{ pizza.id }}
                        </div>
                    </td>
                    <td><strong>{{ pizza.name |upper }}</strong></td>
                    <td>{{ pizza.price|format_currency('EUR', locale='de') }}</td>
                    <td>
                        <ul class="text-left" style="display:inline;">
                            <li style="display:inline;">
                                <a href="{{ path('pizza_edit', { 'id': pizza.id }) }}">
                                    <img style="max-width: 20px;" alt="editar" src="{{ 'img/editicon.svg' }}">
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
